#color-picker {
    position: relative;
}

#color-picker-div {
    border-radius: 15px;
    background-color: #636262;
    padding: 1em;
    width: 224px;
    display: inline-block;
    position: absolute;
    box-shadow: 10px 10px 10px silver;
}

#color-picker-div canvas {
    display: block;
}

#color-picker-div canvas:hover {
    cursor: url('./imgs/cursor.png') -1 25, auto;
}

#color-picker-div .colors {
    margin-top: 5%;
    display: inline-block;
    width: 40%;
}

#color-picker-div .colors input {
    margin-top: 5%;
    width: 100%;
}

#color-picker-div .color-viz {
    position: absolute;
    bottom: 4.5%;
    right: 5%;
    height: 15%;
    width: 30%;
    z-index: 1;
}

#color-picker-div.picker-hidden {
    display: none;
}

#color-picker .show-btn.close::after {
    background-image: url('./imgs/close.png');
    background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
    cursor: pointer;
}

#color-picker .show-btn.open::after {
    background-image: url('./imgs/icon.jpg');
    background-size: 32px 32px;
    display: inline-block;
    width: 32px; 
    height: 32px;
    content:"";
    cursor: pointer;
    border: 2px solid #636262;
    border-radius: 5px;
    box-shadow: 1px 1px 5px silver;
}

#color-picker .show-btn {
    position: absolute;
    margin-top: 0.5%;
    margin-left: 0.5%;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    z-index: 2;
}